In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [39]:
df = pd.read_csv('Delivery Data.csv')

In [40]:
df.shape

(45593, 27)

In [41]:
order_1 = np.empty((45593, 1), dtype = int)
order_2 = np.empty((45593, 1), dtype = int)
order_3 = np.empty((45593, 1), dtype = int)

In [42]:
rating_weight = np.empty((45593, 1), dtype = float)
order_history_weight = np.empty((45593, 1), dtype = float)

In [43]:
Weight_1 = np.empty((45593, 1), dtype = float)
Weight_2 = np.empty((45593, 1), dtype = float)
Weight_3 = np.empty((45593, 1), dtype = float)

In [44]:
WeightA_1 = np.empty((45593, 1), dtype = float)
WeightA_2 = np.empty((45593, 1), dtype = float)
WeightA_3 = np.empty((45593, 1), dtype = float)

In [45]:
Active_1 = np.empty((45593, 1), dtype = float)
Active_2 = np.empty((45593, 1), dtype = float)
Active_3 = np.empty((45593, 1), dtype = float)

In [46]:
for i in range(0, len(order_1)):
    order_1[i] = random.randint(100, 10000)
    order_2[i] = random.randint(100, 10000)
    order_3[i] = random.randint(100, 10000)
    Active_1[i] = round(random.uniform(0, 16), 2)
    Active_2[i] = round(random.uniform(0, 16), 2)
    Active_3[i] = round(random.uniform(0, 16), 2)
    Weight_1[i] = order_1[i] / 10000
    Weight_2[i] = order_2[i] / 10000
    Weight_3[i] = order_3[i] / 10000
    WeightA_1[i] = round(random.uniform(0, 1), 4)
    WeightA_2[i] = round(random.uniform(0, 1), 4)
    WeightA_3[i] = round(random.uniform(0, 1), 4)
    rating_weight[i] = round(random.uniform(0, 1), 4)
    order_history_weight[i] = 1 - rating_weight[i]

In [47]:
df['Order_1'] = order_1
df['Order_2'] = order_2
df['Order_3'] = order_3

In [48]:
df['Active_1'] = Active_1
df['Active_2'] = Active_2
df['Active_3'] = Active_3
df['Weight_1'] = Weight_1
df['Weight_2'] = Weight_2
df['Weight_3'] = Weight_3
df['WeightA_1'] = WeightA_1
df['WeightA_2'] = WeightA_2
df['WeightA_3'] = WeightA_3
df['rating_weight'] = rating_weight
df['order_history_weight'] = order_history_weight

In [49]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Active_2,Active_3,Weight_1,Weight_2,Weight_3,WeightA_1,WeightA_2,WeightA_3,rating_weight,order_history_weight
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,9.35,1.40,0.0143,0.1597,0.6128,0.9828,0.7823,0.7048,0.5644,0.4356
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,2.64,10.08,0.5331,0.4526,0.4897,0.8654,0.6535,0.6569,0.6644,0.3356
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,5.26,10.10,0.0872,0.4186,0.0201,0.9194,0.8707,0.8531,0.9219,0.0781
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,11.81,13.23,0.5528,0.9088,0.6642,0.3195,0.5428,0.9207,0.3716,0.6284
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,7.07,5.43,0.4019,0.9417,0.5699,0.0827,0.3017,0.1629,0.4708,0.5292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,...,9.48,3.27,0.9602,0.3380,0.3034,0.4920,0.7707,0.9958,0.1681,0.8319
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,...,3.35,13.13,0.3346,0.0151,0.9529,0.2476,0.6426,0.5622,0.9890,0.0110
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,...,16.00,11.00,0.3483,0.3562,0.1234,0.1084,0.9182,0.6631,0.7720,0.2280
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,...,15.95,10.30,0.2092,0.0228,0.2161,0.8006,0.9344,0.0986,0.4969,0.5031
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,...,4.10,5.06,0.3588,0.9126,0.4723,0.3671,0.7918,0.4797,0.1945,0.8055

In [50]:
df.to_csv('updated_dataset.csv', index = True)